$light-cyan: #90D6E3;
$cyan: darken($light-cyan, 40%);
$dark-cyan: #227685;
$black: #060a0a;
$white: #FAFAFA;

$background: "https://cdnb.artstation.com/p/assets/images/images/001/745/563/large/richard-roberts-cyberpunk.jpg?1452114862";

body {
    // background: $black;
    background: url(#{$background});
    box-sizing: border-box;
    height: 100%;
    padding: 0.5em;
    margin: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
    text-shadow: 0px 0px 13px -1px rgba(60,108,113,1);

    & > div {
        box-sizing: border-box;
        color: $light-cyan;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

hr {
    border-color: $dark-cyan;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.reply {
    position: relative;
    margin:0.6em 0;
    padding: 0.4em;

    &:nth-child(odd) {
        color: $white;
        .header {
            color: #888;
        }
        &:before, &:after {
            border-color: #AAA;
        }
    }

    .header {
        color: $cyan;
        h3 {
            display:inline;
            font-size: 1em;
            font-weight: bold;
        }
        .small {
            font-size: 0.8em;
        }
        margin-bottom: 0.6em;
    }

    &:before, &:after {
        // content: "";
        position: absolute;
        width: 1em;
        height: 1em;
    }

    &:before {
        top: 0;
        left: 0;
        border-top: 1px solid $dark-cyan;
        border-left: 1px solid $dark-cyan;
    }

    &:after {
        top: 0;
        right: 0;
        border-top: 1px solid $dark-cyan;
        border-right: 1px solid $dark-cyan;
    }

    p{
        margin: 0;
    }
}
ul.options {
    li {
        width: 100%;
        display: block;
        padding: 0.2em 0.4em;
        &:hover {
            color: $black;
            background-color: $light-cyan;
        }
    }
}
#main{
    flex-grow: 3;
    min-width: 250px;
    display:flex;
    flex-direction: column;
}

#top {
    display:flex;
    flex-direction: row;
    flex-grow:1;

    #main-right {
        flex-grow:5;
    }

    #main-left {
        flex-grow:1;
    }
}

#right {
    flex-grow: 1;
    display:flex;
    flex-direction: column;

    > div {
        flex-grow: 1;
    }
}

.bordered {
    background: $black;
    position: relative;
    padding: 0.5em;
    border: 2px solid $cyan;
    margin: 0.5em;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(60,108,113,1);
    -moz-box-shadow: 0px 0px 13px -1px rgba(60,108,113,1);
    box-shadow: 0px 0px 13px -1px rgba(60,108,113,1);

    &:focus {
        border-color:$light-cyan;

        .powerbar {
            border-color:$light-cyan;
            background: $light-cyan;
            color: $black;
        }
    }
}

button {
    padding: 0.33em 0.9em;
    border: 2px solid $cyan;
    background: $black;
    color: $light-cyan;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;

    &:hover{
        background: $light-cyan;
        color: $black;
    }
}

.reader {
    overflow-y: scroll;
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: inherit;
}

.powerbar {
    &.bottom {
        border-top: 2px solid $cyan;
        + .reader {
            bottom: 2em;
        }
    }
    &.top {
        border-bottom: 2px solid $cyan;

        + .reader {
            top: 2em;
        }
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2em 0.4em;
}
.top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
