<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="static/css/base.css">
    <!-- No Google Analytics, Neat -->
  </head>
  <body >
    <div id="app">
    <div id="main">
      <div id="top">
        <div tabindex="1" class="bordered" id="main-left">
          <div class="powerbar top">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
          <div class="reader">
            Welcome to this situation
            <button>Test</button>
          </div>
        </div>
        <div tabindex="2" class="bordered" id="main-right">
          <div class="powerbar bottom">
            <span>Option 1</span>
            <span>Option 2</span>
          </div>
          <div class="reader"><pre style="font: 2px/1px monospace;">


                                                          .'`                       ##################,
                                                       .#######                     +##################.
                                                    ,######+#####,                  ,##       ``.,:;'+##
                                                 :######'     '####.                 ##               ##+
                                              ;######;          ,####                ##  .,,           ##
                                           ;######;         `     ,###+              ##  ,##     ###+  ###
                                        '######:           ,###'    +###             ##.  ###    ####   ##
                                     '######:               '####+    ###'           +#'  ###`   #####  ##+
                                   '#####,        ,          ######:   +###          ,##  ####   #####  `##
                                     ####      :#####`        #######   .###          ##  ####:  +####:  ##:
                                      `###+    ########`      ########`   ###         ##  :####  '#####  ,##
                                        '###    ,########     .########;   ###        ##   ####+ ;#####   ##`
                                          ###,    ########,    #########+   ###`      ##:  ##### :######  '##
                                           +##+    '########   ###########   ###      ;##  ######,######   ##
                                            ,###    .########  ;###########   ###      ##  ######,######`  ###
                                              ###     ########  ############   ###     ##  ,#############   ##
                              `..              ###`    ######## #############   #########   #############   ##:
                            '########+`         ###,    ######################   ########   #############`  :##
                           :#############        '##;    ############'.   #####             ##############   ##`
                          :##:       '#####,      :##'    #####+,          +####            ##'        ,##   ####,
                         :##:           +####,     .##+    ####             '#################`         ##.   +####'
                        ,##;    ,;,       ;####`    .##+   :###              ,################          ###,    :####+
                       .##'    ######+      ,#### :######   ###`       ,######################   .'#.   ######`   .####'
                      `##+    ##########;     ;######+      ,###    ,################################## .#######;   `####;
                      ###      ###########+     ###,     ;######  .################################################   `####.
                     ###        +############          ######### ####################################################   .####
                    ###          ##############      #######################'.                  :+#####################   ;###+
                   ###            ###############  '######################                           `'##################   ####.
                  ###             '#######.'#############################                                `################+  `####
                 ###               #######   ####################  #####             #########.             `###############.  '###`
                ###                ######     #################`   ####`          ;##############.            ################   ###+
               +##     `,;'+++':`  '####,    #################     ####      `.'######.        .###           #### `+##########,  '###
              '##`   ##############+####   +#################      ####        #####;            ,##'         ####    ;##########  `###`
             :##.   ###################   ####   ,##########       ###+          ###,            `#####,      ###;     `##########   ###;
            .##:   ###################,  ###;     .########        ####           .###`         ########;     ###       ,##########:  '###
           `##'   ####################  .##'       #######`        ####              +###############.       .###        ###########+  ,###
           ###         ,'############   ###        '######         `####                ,########:           ###`         ############   ###
          ###',`             ;#######  .##         .#####           #####                                   ###+          ###### ;#####   ###
         ############+:`        :####  ###    ##   `####+            #####################+;,`            `####           +#####  `#####   ###
           .:'##############;`    ###. ##    ####` .####         .'################################'.   `####:            .#####    #####   ###
                    .;########.  ;#### ##   '####  ;####      +#############################################               ####,     #####   ###
                           ###   ##### ##  .####   ####.   :##############################################               `#####       #####  `##'
                           ##   ########'  ####    ####  :##################################################`          '######+        ####+  :##`
                          ##+  ,########;   ##    ,#### ############+,                    `:+#################################          ####,  ###
                         `##   #########'    .    ##############:                                ############################            ####   ###
                        `##'  .##########        ;###########,                                  .###########################              ####   ##`
                    '######   ######+####        ##########                                     ######   ,###############+                 ###+  +##
                ,#########:   #####  ####:      #########                                       #####         :#############               .###.  ##.
             `#######.       '####;  #####.   ;########;          .+##########+.                #####  '#+.       ;###########'             +###  '##
           .#####,       ,########   ,################`       ;###########;                    :####   ######+`      ,##########+            ###+  ##
          ####'      `+##########:    ###############     :###########;                        #####  +##;#######:      ;#########;          ,###  ##+
        ,###;      ##############     ,#############   :##########+`                           ####   ##     ;######;     `#########          ###+  ##
       '###     .##########,  ##'      ############.`##########;                               ####  +##        .######,     ########,        :###  ##
      :##:    `##########    ###        ####################;                                  ###   ###.          `######    `#######'        ###  ##;
      ##:    ############    ###        ,################+                  ``                 ###  `######           ,#####    ;######+       ###; ,##
      ##    #############   :##          ;#############.  `,;+##########################'.     #####`  '#####+           #####    ######;      +###  ##
      ##   +#:       :##'   ###           :##################################################+`#######'   +#####:          +###+   '#####.     ;###  ##
      ##            ;###`   ##;             #############################################################.  `######.         +###`  .#####     ;###  ##
      ##           #####    ##               ;#############################################################+   ,######         ###;  `#####    +###  ##
      ##          ######   :##                 ,########################+,          .;########################;   ;#####+       ;##+  `####,   ###:  ##
      ##         #######   +#'                     ;######;`  #######:                     ,+####################,   +#####:     `##+  :####   ###  :##
      ##        #######;   ##`                                #####'      .:'####+;,`           `'##################`  `######`   `##:  ####; ####  ##,
      ##       #########++###           +####'                ####.   ,###################;.         ,################+   :#####   ,##   ####'###   ##
      ##      ###############          ########               ###;   ######+;:,::'##############'`       `+##############+   '###   ###  #######'  +##
      ##     '#####:  ;######         #########'              ###   ###.                 .'##########'`      .#############.   ##    ##  '######   ##
      ##    `####`     ######         ##########              ##+  +##                         `;#########:      ;##########   ##    ##  `#####   ###
      ##    ###+    #  ######         ##########             ,##.  ##                               `'########;     .#######   ##    ##   ###:   ###
      ##   ###:   '##  ######         ##########             ###.  ##                                    :########,     .###   ##    ##  `##    ###
      ##   ##.   ####  ######         ##########             ###+  ##'                                       ,#######+     #  +##    ##  :     ###.
      ##  .#,  .####+  ######         ##########            +####  .##+                                          :#######.    ##     ##      +###
      ##  `'  '#####+  ######,         ########             #####'  :###,                                            '######:;##    ##;   `#####
      ##     #### ;#+  #######          ######             #######,   ####+                                             ,######.   +##;#######
      ##    ####  :##  #######+           `               #########'   ,######,                                            .###   '########;
      ##   ####  :##`  ########'                        ;############     +######+`                                              #####',
      ##  +###  '##   ###########                     :################      ;#######,
      ## ;###  +##   ##############;               :#########+###########;       '######,
      ##`###  '##   ###### #################################   #############+`      :#####+
      #####  :##   #####   ################################     '################.     '#####`
      ####   ##   ######   ##############################,       .##################     `#####,
      ###:  ##`  ########  ############################'          .###################,     +####,
      ###  ##'  #########  #####.####################.             +####################'     ;####.
      ##   ##  :#########' :####    `;###########'`                 #####++###############'     :####
      #'  ##`  ###########  ####                                    ####,      ,############;     '###+
      #   ##  ;#####+` ###, ;###                                    ####         :############,     ####.
     ,.  ##.  ####,    ####  ###+               ,#####              ####          ;#############`     ####
     `   ##   ###     #####   ###              `#######             ###+           ###############     ;###
        ,##   ::      ######  .##              ########'           ####            ####  ;#########;     ###;
         ##;         #############             #########          ,###'            ####     #########     +###
         +##         #############            `#########         .####  ;###;      ####       ########+    ,###
          ###       ###############            #########        ,####  .#####`     ####         ########     ###
          ;##       #######    ####+           ########.       +####   #######    .####          .#######`    ###`
           ###     +#####,      ####'           ######+      `#####`   #######    #####            #######,    ###`
           ,##.    #####        `####+           :###`      ######`    :#####:   `####.             .######'    ###`
            ###   .####`    ,'   .#####                   #######       ####+    #####                #######    ###
             ##'  .###;    ###+    ######               ########          .     .####`                 #######    ###
             +##   ###    ######    ########,       .;#########                 ####+                   +######    ###
              ###  `#`   ########`   ,###########################              #####                     ;#####+    ###
              ,##   #   :###  +####    '###########################;         '####+                       ;#####'    ##'
               ###      ###    `####+    :#############################+''#######,                         ;#####:   `##`
                ##.    ###       +####+     :###################################                            '#####`   '##
                ###   ###          ######,      ,+########++++####################;                          +#####    ###
                 ##; .##:            #######;                         ,+#############.                        ######    ##.
                 +## ###               '########'.                         ;###########,              '#####+  #####:   :##
                  #####                   +###########'                       ,##########`           ########## #####    ##+
                  ,###;                      ,######`                            +#########          `################    ##
                   ###                       +###;        `,:;;:,`                 :########`         ################:   ###
                   `#`                     ;###.     :#################:             '#######:        #################    ##
                    #                     ###`    ;########################'           #######'       ##### .##########+   ###
                                        +##;    ######+`    ;##########;`               '#######      +####    .########    ##
                                       ###    ######       ########,                     `######+     '####       #######   ##'
                                      ##'   :####+       +######+                          ######;    +###;        +#####   .##
                                    `##`   #####  +#    #######           ...`              ######`   ####          #####'   ##`
                                   .##    ####'  ,##+  ######`       '############;          ######   ####          `#####   +##
                                  `##    ####.   .##: ######      :######+';;;#######.        ######  ###'           #####.   ##
                                  ##    ########: `. #####+     :####,            ;####.       #####`+###            ,#####   ##`
                                 ##`   ###########  #####'     ####                 `####       ########+             #####   +##
                                ##'   ####,   :####,####'    ,###                     `###`      #######              #####,  `##
                               ,##   ####,      ########    '##;                        +##,     '#####.              ,#####   ##
                               ##   .###:        ######    +##                           ,##,     ####'                #####   ##.
                              +#;   ###;  ###    #####    ;##                             `##`    `###                 #####   +#+
                              ##   ###+   ####   ####:   `##                               .##     ####                +####:  ,##
                             ##,   ###    ###+  `####    ##`                                '##     ###`               `#####   ##
                             ##   ###     .#+   ####`   ##'                                  ##'    ####                #####   ##
                            +#;   ##:           ####   `##                                    ##    ,###                #####   ##
                            ##   ##########,   :###,   ##`                                    '#+    ###'         :     #####   ##.
                           `##   ############  ####   `##                                      ##    ####         #     '####   ##;
                           ##.  ,############# ####   ##`                                      +#:   ;###        .##    .####   '#+
                           ##   ####:    :########.   ##                                        ##    ###.       ###`    ####`  :##
                           ##   ###.       '######   .##                                        ##    ####       ####    ####.  ,##
                          ;#'  .###         `#####   +#.                                        ##.   ####      +####'   ####.  `##
                          ##   ####    ###   `####   ##                                         ,#'   ####      ######   ####,   ##
                          ##   ###.   #####  `###+   ##                                          ##   ####     ########  ####,   ##
                          ##   ###    #####  ,###:   ##                                          ##   ####    +########. ####:   ##
                          ##   ###    #####  ;###,   ##                                          ##   ####   ;####`##### ####:   ##
                         .##  .###    .###   ;###,   ##                                          ##   ####  ;####:  ####+####:  `##
                         ;#'  :###           ;###,   ##                                          ##   #### +####+    ########,  .##
                         +#:  '###           .###;   ##                                          ##   ##########     '#######.  :##
                         ##,  +##'   ############+   ##                                          ##   #########       #######   '#+
                         ##.  +##' ###############   ##                                         `#+   ########        .######   ##:
                         ##`  '###################   '#`                                        '#,   ######+          ######   ##.
                         ##`  '######+        ####   `##                                        ##   ,#####`    `      ;#####   ##
                         ##.  :####+          ,###.   ##                                        ##   ####'    #####,    #####   ##
                         ##:  .###.            ####   ##`                                      +#'   ####    #######.   ####;   ##
                         +#'   ###    .###     ####   `##                                      ##    ####    ########   ####   ;##
                         ;##   ###   `#####    ;###,   ##                                     '##   +###.   :########   ####   ##:
                         .##   ###   ######'    ####   `##                                    ##    ####    :########   ####   ##
                          ##   ###   #######    ####`   ##:                                  ##'   '###+     ########  `###;   ##
                          ##   ;##;  ######:   ,#####    ##                                 ;##    ####      +######   +###   '##
                          ##;   ###   #####   #######:   .##                               `##    ####+       ;####    ####   ##.
                          +##   ###    ;+.   #########    ;##                             `##`   .####                 ###;   ##
                           ##   ###,        ####' #####    +##                           .##,    ####.                '###   +##
                           ##,   ###       ####   `#####    +##,                        '##.    #####                 ####   ##`
                           ###   ###      ####     +####'    :###                      ###     #####                 .###`  .##
                            ##   ;###    `###       #####'     ###+                  ####     #####`                 ####   ##'
                            ##+   ###    ###;        #####+     ;####.            ,####.     #####,                 `###,   ##
                            ;##   '###  .###          ######      ;######;,..,'######.      #####:                  ####   ##+
                             ##;   ###. ###;           ######`       '############;       '#####:                  ,###.   ##
                             +##   ;###`###     `##`    #######           .,:,`         .######`                   ####   ##+
                              ##;   #######    +#####    ;#######                     .#######                    +###   ,##
                              '##   `#####:   `######     #########:                ########'                     ###+   ##:
                               ###   #####    +######+   +##+##########;.      .'##########                      ####   ###
                               :##`   ####    '######+   ###  ;##########################                       +###   `##
                                ###   `####    ######`   ###    :#####################'                        :###;   ##+
                                 ###   ;###+   '####;   `##+       ;###############;                          `####   ###
                                 '##,   ####.    ;'     ;##.           .;+####;.       :#+                    ####   :##
                                  ###    ####`          ###               ####       ,#####+                 ####   `##;
                                   ###    ####          ###               ####      `#######'               ####    ###
                                   `###    ####`        ###      ####'    ####      #########             `####    ###
                                    ;###    ####:       ###     ######;   ####`     #########            :####    ###
                                     +###    ####+      ###     #######   :####     #########           ####;    ###.
                                      ####    +####     ###     #######    ####     #########          ####`    ###:
                                       ####    ,####;   ###     #######    #####     #######;        '####     ###;
                                        ####     #####  ###     :#####`     ####.    `#####+       `####:    `###:
                                         +###`    '########      .###`      ,####      ,';        #####     '###.
                                          ;###'     #######,                 +####              #####.     ####
                                           `####      ######.                 +####,         .#####;     ,####
                                             ####:      +######`               '#####      ######;      ####'
                                              '####       :#######'`            ,#####',#######.      '####
                                                #####        +##########':.`    .,##########+       :####'
                                                 :#####         ;########################;        '#####
                                                   +#####`          ,+##############+,          ######
                                                     +#####+                                 '######`
                                                       +#######.                         `+#######
                                                         ,#########;`                .'########;
                                                            ,###############################'
                                                                ;#######################+.
                                                                     .,,,,,,,,,,,,..
          </pre>
          <h2>Showing all recent thread: </h2>
          <hr />
          <template v-for="post in posts">
            <short-post v-bind:post-id="post['.key']" />
            <template v-for="reply in post.replies">
              <short-post class="to" v-bind:post-id="reply['.key']" />
            </template>
          </template>
          </div>
        </div>
      </div>
      <div id="footer">
        <div tabindex="6" class="bordered">
          Footer
        </div>
      </div>
    </div>
    <div id="right">
      <div tabindex="3" class="bordered">
        boop
      </div>
      <div tabindex="4" class="bordered">
        <span>{{ message }}</span>
      </div>
      <div tabindex="5" class="bordered">
        <ul class="options">
          <li>Option 1</li>
          <li>Option 2:
            <ul>
              <li>Sup option</li>
              <li>Sup option 2</li>
              <li>Sup option 3</li>
            </ul>
          </li>
          <li>Option 3</li>
        </ul>
        <textarea class="bottom"></textarea>
      </div>
    </div>
    </div>
    <script src="/static/js/index.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  </body>
  <!-- So you like source code? -->
</html>
